/*
* {
	padding: 0 ;
	margin: 0 ;
}
*/
@font-face {
  font-family: SourceCodePro;
  src: url('./SourceCodePro-Regular.ttf');
}
@font-face {
  font-family: SourceCodeProLigtht;
  src: url('./SourceCodePro-Light.ttf');
}
*::selection {
  background: #134857;
  color: #ffffff;
  text-shadow: none;
}
* .TOCSectNum {
  display: none;
}
.nicescroll-rails .nicescroll-cursors {
  background-image: linear-gradient(to top, #ff7675, #fab1a0, #81ecec);
  animation-name: scrossTurn;
  animation-duration: 5s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.72, 0.01, 1, 1);
  animation-delay: 0s;
  box-shadow: 0 0 10px rgba(99, 110, 114, 0.5);
}
html {
  overflow: auto;
}
body {
  position: relative;
  min-height: 100vh ;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 ;
  padding: 0 ;
  font-family: SourceCodePro !important;
}
body div.head {
  position: fixed;
  right: 30px ;
  top: 30px ;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 100 ;
}
body div.head .info_img_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
body div.head .info_img_box .img_box {
  position: relative;
  display: inline-block;
  margin-right: 10px ;
}
body div.head .info_img_box .copyright_box {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  width: auto;
  height: auto;
  transition: 0.2s;
}
body div.head .info_img_box .copyright_box .copyright_text {
  position: absolute;
  width: 380px;
  height: auto;
  padding: 10px 20px ;
  box-sizing: border-box;
  top: calc(100% + 5px);
  right: 0 ;
  background: white ;
  box-shadow: 0 0 10px rgba(45, 52, 54, 0.3);
  font-size: 14px ;
  letter-spacing: 0.5px;
  border-radius: 5px ;
  transition: 0.2s;
  transform-origin: 95% 0%;
  transform: scaleY(0) scaleX(0);
}
body div.head .info_img_box .copyright_box .copyright_text::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 13px ;
  width: 10px ;
  height: 10px ;
  background: white ;
  box-shadow: -6px -6px 10px rgba(45, 52, 54, 0.3);
  transform: rotate(45deg);
  z-index: 10 ;
}
body div.head .info_img_box .copyright_box:hover .copyright_text {
  display: inline-block;
  transform: scaleY(100%);
}
body div.background {
  position: fixed;
  left: 0 ;
  bottom: 0 ;
  height: 100vh ;
  width: 100vw ;
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box;
  background-image: url("./Imgur.png");
  background-repeat: no-repeat;
  background-size: 100% ;
  opacity: 0.05;
  z-index: -1;
}
body div#toc-box {
  --background-c: #eda7c0;
  position: sticky;
  left: 0 ;
  top: 0 ;
  height: 100vh ;
  min-width: 20vw ;
  max-width: 30vw ;
  background: white ;
  box-sizing: border-box;
  display: flex;
  flex-direction: column ;
  padding: 0;
  z-index: 10 ;
  transition: 0.3s !important;
  overflow-y: auto ;
  overflow-x: visible;
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
body div#toc-box::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
body div#toc-box::after {
  content: "JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC JUST TOC ";
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  top: 0 ;
  right: 0 ;
  height: 100% ;
  width: auto ;
  font-size: 10px ;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap ;
  background: var(--background-c);
  color: white ;
  writing-mode: vertical-lr;
  padding: 0 ;
  transition: 0.2s;
}
body div#toc-box #toc {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  width: 100% ;
  box-sizing: border-box;
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
body div#toc-box #toc::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
body div#toc-box #toc .TOCEntry {
  position: relative;
  width: 100% ;
  height: auto;
  display: block;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px ;
  transition: 0s ;
  padding: 0 1rem ;
  white-space: nowrap ;
}
body div#toc-box #toc .TOCEntry a {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100% ;
  overflow: hidden ;
  white-space: nowrap ;
  text-overflow: ellipsis;
}
body div#toc-box #toc .TOCEntry::before {
  content: "";
  position: absolute;
  left: 0 ;
  top: 0 ;
  width: 0px ;
  height: 100% ;
  transition: 0.3s;
  transform-origin: left;
  background: var(--background-c);
}
body div#toc-box #toc .TOCEntry::after {
  content: "";
  position: absolute;
  right: 0 ;
  bottom: 0 ;
  width: 0px ;
  height: 100% ;
  transition: 0.3s;
  transform-origin: right;
  background: var(--background-c);
}
body div#toc-box #toc .TOCEntry:hover {
  background-color: var(--background-c);
}
body div#toc-box #toc .TOCEntry:hover a {
  color: white ;
}
body div#toc-box #toc .TOCEntry:hover::before {
  width: 3px ;
}
body div#toc-box #toc .TOCEntry:hover::after {
  width: 3px ;
}
body div#toc-box #toc .TOCLevel1 {
  padding-left: 1rem ;
}
body div#toc-box #toc .TOCLevel2 {
  padding-left: 2rem ;
}
body div#toc-box #toc .TOCLevel3 {
  padding-left: 3rem ;
}
body div#toc-box #toc .TOCLevel4 {
  padding-left: 4rem ;
}
body div#toc-box span.top_title {
  position: relative;
  width: 100% ;
  display: block;
  text-align: left;
  padding: 10px 10px ;
  letter-spacing: 1.3px;
  user-select: none;
  color: #c97586;
  text-shadow: 0 0 10px rgba(45, 52, 54, 0.2);
  transition: 0.2s;
  font-size: 12px ;
}
body div#toc-box span.top_title i {
  position: relative;
  display: inline-block;
  font-size: 28px ;
  transition: 0.2s;
}
body div#toc-box span.top_title:hover {
  text-shadow: 0 0 10px #c97586;
}
body div#toc-box span.top_title:hover i {
  color: white ;
  text-shadow: 0 0 10px #c97586;
}
body div#toc-box div.ali_icon {
  position: absolute;
  display: inline-block;
  width: 2em;
  height: 2em;
  top: 1.5rem;
  right: 3rem ;
  z-index: 100 ;
  cursor: pointer;
  animation-name: spin ;
  animation-duration: 3s ;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running ;
  transition: 0.2s;
  transform-origin: 30% 50% ;
}
body div#toc-box div.ali_icon .iconfont {
  fill: currentColor;
  overflow: hidden;
  width: 100% ;
  height: 100% ;
}
body div#toc-box div.ali_icon:hover {
  animation-duration: 3s ;
  animation-play-state: running ;
}
body div#toc-box a {
  text-decoration: none;
  color: #2d3436;
}
body div#toc-box .file_box {
  position: relative;
  box-sizing: border-box;
  width: auto;
  height: auto;
  top: 0 ;
  left: 0 ;
  transition: 0.5s;
  padding-top: 0px ;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 80vh ;
  max-height: 80vh ;
  flex: 0 ;
}
body div#toc-box .file_box .file_box_btn {
  background: var(--background-c);
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  top: 0 ;
  left: 0 ;
  width: 100% ;
  height: 16px ;
  color: white ;
  font-size: 8px ;
  white-space: nowrap ;
  overflow: hidden ;
  transform-origin: 0 0 ;
  letter-spacing: 0.5px;
  font-weight: 300 ;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(99, 110, 114, 0.7);
}
body div#toc-box .file_box .file_item_box {
  position: relative;
  width: 100% ;
  height: 100% ;
  transition: 0.3s;
  overflow: auto;
  background: white;
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}
body div#toc-box .file_box .file_item_box::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
body div#toc-box .file_box .file_item_box .file_item {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100% ;
  padding: 5px 10px ;
  padding-bottom: 5px ;
  font-size: 12px ;
  cursor: pointer;
  user-select: none;
}
body div#toc-box .file_box .file_item_box .file_item .iconfont {
  color: #636e72;
}
body div#toc-box .file_box .file_item_box .file_item .file_a {
  white-space: nowrap ;
  overflow: hidden ;
}
body div#toc-box .file_box .file_item_box .file_item::before {
  content: "";
  position: absolute;
  left: 0 ;
  top: 0 ;
  width: 0px ;
  height: 100% ;
  transition: 0.3s;
  transform-origin: left;
  background: var(--background-c);
}
body div#toc-box .file_box .file_item_box .file_item:hover {
  background-color: var(--background-c);
}
body div#toc-box .file_box .file_item_box .file_item:hover .file_a,
body div#toc-box .file_box .file_item_box .file_item:hover .iconfont {
  color: white ;
}
body div#toc-box .file_box .file_item_box .file_item:hover::before {
  width: 3px ;
}
body div#toc-box .file_item_box_hidden {
  min-height: 20vh !important ;
  flex: 1 !important;
}
body div.toc_hidden {
  width: 15px !important ;
  min-width: 15px !important ;
  max-width: 15px !important ;
  transition: 0.3s !important;
  overflow: visible !important ;
}
body div.toc_hidden div.ali_icon {
  top: 1.5rem !important;
  right: -3rem !important;
}
body div.toc_hidden div.TOCEntry,
body div.toc_hidden span.top_title,
body div.toc_hidden .file_box {
  display: none !important;
}
body div.toc_hidden::after {
  right: 5px !important;
  background: #ec6d71 !important;
}
main.content {
  position: relative;
  margin: 0 ;
  flex: 1 ;
  width: auto;
  padding: 10px 30px ;
  max-width: 100vw ;
  min-width: 0;
  display: block;
  box-sizing: border-box;
}
main.content h1 {
  position: relative;
  display: block;
}
main.content h1::before {
  content: "#";
  position: relative;
  color: #0f2350;
  font-weight: bold;
  margin-right: 10px ;
  width: 25px ;
  display: inline-block;
}
main.content h1:hover::before {
  content: "井";
  font-size: 24px ;
}
main.content h2 {
  position: relative;
  display: block;
  text-shadow: none;
}
main.content h2::before {
  content: "##";
  position: relative;
  color: #0f2350;
  font-weight: bold;
  margin-right: 10px ;
  font-size: 20px ;
  width: 25px ;
  display: inline-block;
  overflow: hidden ;
  white-space: nowrap ;
}
main.content h3 {
  position: relative;
  display: block;
}
main.content h3::before {
  content: "###";
  position: relative;
  color: #165e83;
  font-weight: bold;
  margin-right: 10px ;
  font-size: 14px ;
  width: 25px ;
  display: inline-block;
  overflow: hidden ;
  white-space: nowrap ;
}
main.content h4 {
  position: relative;
  display: block;
}
main.content h4::before {
  content: "#Ⅳ";
  position: relative;
  color: #165e83;
  font-weight: bold;
  margin-right: 10px ;
  font-size: 14px ;
  width: 25px ;
  display: inline-block;
  overflow: hidden ;
  white-space: nowrap ;
}
main.content table {
  position: relative;
  box-sizing: border-box;
  border-collapse: collapse;
  border-bottom: 1px solid #f6bfbc;
}
main.content table thead {
  position: relative;
  width: auto;
}
main.content table thead::after {
  content: "";
  position: absolute;
  bottom: 0 ;
  left: 0 ;
  height: 1px ;
  width: 100% ;
  background: #f6bfbc;
}
main.content table thead tr th {
  border-right: 1px solid #f6bfbc;
  padding: 0 5px 5px 5px ;
}
main.content table tbody {
  position: relative;
  margin: 0 ;
}
main.content table tbody tr {
  margin: 0 ;
}
main.content table tbody tr td {
  border-right: 1px solid #f6bfbc;
  padding: 0 5px ;
  margin: 0 ;
}
main.content blockquote {
  position: relative;
  width: 100% ;
  height: auto;
  min-height: 50px ;
  margin: 0 ;
  padding-left: 30px ;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border-left: 2px solid #00b894;
}
main.content blockquote p {
  color: #636e72;
}
main.content blockquote::before {
  content: "quote";
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  left: -16px;
  top: 16px ;
  height: auto ;
  width: auto ;
  background: #00b894;
  color: rgba(255, 255, 255, 0.5);
  transform: rotate(90deg);
  font-size: 10px ;
  padding: 2px 5px ;
  line-height: 10px ;
}
main.content p {
  line-height: 25px ;
  max-width: 90% ;
  display: block;
  box-sizing: border-box;
  letter-spacing: 0.8px;
}
main.content p code {
  border-radius: 3px;
  display: inline-block;
  box-sizing: border-box;
  padding: 3px 5px;
  transition: 0.2s;
  margin: 0 5px ;
  box-shadow: 0 0 5px rgba(178, 190, 195, 0.5);
}
main.content p code:hover {
  background: #00cec9;
  color: white;
  box-shadow: 0 0 5px #b2bec3;
}
main.content p img {
  max-width: 60vw ;
}
main.content p a {
  color: #2792c3;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  max-width: 60vw ;
  height: 100% ;
  overflow: hidden ;
  white-space: nowrap ;
  text-overflow: ellipsis;
  vertical-align: bottom ;
  margin: 0 5px;
}
main.content p a::after {
  content: "↱";
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: lightpink ;
  animation-name: jump_twice;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-play-state: paused;
}
main.content p a:hover::after {
  animation-play-state: running;
}
main.content p del {
  background: #2d3436;
  color: #2d3436;
}
main.content p del:hover {
  color: white ;
}
main.content p u {
  text-decoration: none ;
  display: inline-block;
}
main.content p u::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px ;
  width: 100% ;
  background: #ee827c;
}
main.content p emphasize {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background: yellow;
}
main.content ol {
  position: relative;
}
main.content ol li {
  position: relative;
  margin-bottom: 5px ;
}
main.content ol li::marker {
  color: #2a83a2;
  font-size: 12px ;
  font-weight: 300 ;
}
main.content ol li pre code {
  font-family: SourceCodePro !important;
}
main.content ul {
  position: relative;
}
main.content ul li {
  position: relative;
  margin-bottom: 5px ;
  transition: 0.2s;
}
main.content ul li::before {
  content: ".";
  position: relative;
  display: inline-block;
  font-size: 20px ;
  top: 100% ;
  left: -10px;
  color: #e17055;
  transition: 0.2s;
  transform-origin: bottom;
}
main.content ul li:hover::before {
  content: "|";
  position: relative;
  display: inline-block;
  top: 0px ;
  transform: scaleX(300%);
}
main.content ul.task_ul li,
main.content ul.code_line li {
  position: relative;
  margin-bottom: 5px ;
  transition: 0.2s;
}
main.content ul.task_ul li::before,
main.content ul.code_line li::before {
  content: "";
}
main.content ul.task_ul li:hover::before,
main.content ul.code_line li:hover::before {
  content: "";
}
main.content ul.task_ul li input[type="checkbox"] {
  appearance: none;
  /*清除默认样式*/
  -webkit-appearance: none;
}
main.content ul.task_ul li input[type="checkbox"]::before {
  content: "\2716";
  font-size: 16px ;
  color: darkred;
}
main.content ul.task_ul li input[type="checkbox"]:checked::before {
  content: "\2714";
  font-size: 20px ;
  color: lightseagreen;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
main.content pre.hljs {
  position: relative;
  margin: 0 ;
  padding: 0 ;
  display: block;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(99, 110, 114, 0.8);
  border: 2px solid #fef4f4;
  min-height: 100px ;
  max-width: 100% ;
  margin-bottom: 20px ;
  font-family: SourceCodePro !important;
}
main.content pre.hljs div.code_lang {
  position: absolute;
  right: 10px ;
  top: 0 ;
  color: white ;
  font-size: 70px ;
  font-weight: 700 ;
  letter-spacing: 3px ;
  font-family: SourceCodePro !important;
  max-height: 100% ;
  opacity: 0.05;
  user-select: none;
}
main.content pre.hljs code {
  position: relative;
  padding: 0 ;
  width: 100% ;
  height: 100% ;
  display: block;
  box-sizing: border-box;
  font-family: SourceCodePro !important;
}
main.content pre.hljs code ul.code_line {
  position: relative;
  font-family: SourceCodePro !important;
}
main.content pre.hljs code ul.code_line li {
  position: relative;
  margin-bottom: 3px ;
  font-family: SourceCodePro !important;
}
main.content pre.hljs code ul.code_line li span {
  font-family: SourceCodePro !important;
  font-size: 14px ;
}
main.content pre.hljs code ul.code_line li span.line_num {
  position: relative;
  display: inline-block;
  width: 1.5rem;
  text-align: center;
  font-size: 10px;
  user-select: none;
  margin-right: 5px ;
}
main.content pre.hljs code ul.code_line li span.line_num::after {
  position: relative;
  content: ".";
  color: white;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes scrossTurn {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes scrossTurn {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes jump_twice {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes jump_twice {
  0% {
    transform: translateY(-5px);
  }
  25% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-5px);
  }
}
/*# sourceMappingURL=index.css.map */